body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Helps fonts on OSX looks more consistent with other systems */
/* Isn't currently in button styles due to performance concerns */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}

.app-content {
  padding: 20px;
}

.app-md-card {
  margin: 20px 10px;
}